<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fibonacci App</title>
</head>
<body>

    <h1>Fibonacci App</h1>

    <p th:text="${fibonacci} != null ? ${fibonacci} : 'No Fibonacci yet.'"/>

    <p>Press one of the buttons to proceed.</p>

    <form>
        <input type="submit" value="get next Fibonacci" formaction="/client/next" formmethod="get"></input>
    </form>
    <form>
        <input type="submit" value="restart Fibonacci" formaction="/client/restart" formmethod="delete"></input>
    </form>
    <form>
        <input type="number" th:name="index"></input>
        <input type="submit" value="specific Fibonacci" formaction="/client/specific" formmethod="get"></input>
    </form>

</body>
</html>
